/*

    Ficheiro Criado por:
        Gonçalo Reis - a2021142030@isec.pt
        Pedro Paiva - 
        João Jacinto - 


*/



.tabuleiro{
    height: 2vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5rem;

    .quadrado{
        height: 2.5rem;
        width: 2.5rem;
        border: 3px solid rgb(90, 189, 228);
        background-color: rgb(195, 218, 233);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        float: left;

        &:hover{
            background-color: rgb(161, 181, 194);
        }

        &:active{
            background-color: rgb(112, 127, 136);
        }

    }

    div.selecionado{
        border: 3px solid rgb(41, 162, 209);
        background-color: rgb(121, 182, 223);
    }
}